apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  type: LoadBalancer 
  ports:
  - port: 80
    targetPort: 8000
  selector:
    app: web
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: kwamecody172/prodev-backend 
        imagePullPolicy: Always 
        command: ["python", "-m", "gunicorn", "src.core.wsgi:application", "--bind", "0.0.0.0:8000", "--workers", "3"]
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: backend-config
        - secretRef:
            name: backend-secrets
        env:
        - name: PYTHONPATH
          value: "/app:/app/src"